<!DOCTYPE html>
<html lang="en">
	<head>
		<title>EditSC</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<style id="style"></style>
		<script src="https://kit.fontawesome.com/615b64bb07.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/threejs/r84/three.min.js"></script>
	</head>


	<body>
		<!-- The canvas where the world will be rendered -->
		<canvas id="world-canvas"></canvas>


		<!-- Contains UI -->
		<div id="ui-wrapper">
			<div id="ui"></div>
		</div>


		<script src="{{ url_for('static', filename='bundle.js') }}"></script>
	</body>
</html>
