/* @import 'bootstrap/bootstrap'; */



/* Adds vendor prefixes to property */
@mixin prefix($property, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
		#{'-' + $prefix + '-' + $property}: $value;
	}
	/* Standard unprefixed property */
	#{$property}: $value;
}



html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	/*font-family:
		/* Apple system font (San Fransisco)
		-apple-system, BlinkMacSystemFont,
		/* Basic fallback fonts
		"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: white;*/
}



#world-canvas, #ui-wrapper, .dialog-wrapper {
	width: 100vw;
	height: 100vh;
}


#world-canvas {
	z-index: -4;
}


#ui-wrapper {
	z-index: 4;
	position: absolute;
	top: 0px;
	left: 0px;
}


#inspector {
	transition: height .25s ease;
}
